@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/inter.ttf");
  }

  body {
    font-family: 'Inter', serif;
    @apply bg-main-0 text-white;
  }
}